body {
    font-family: sans-serif;
    display: block;
    position: relative;
    justify-content: center;
    background: skyblue;
}





#main-content {
    background-color: white;
    margin: auto;
    max-width: 52em;
    padding: 1em;
    border-radius: 0.25em;
}


#books-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10em);
    grid-gap: 0.5em;
    justify-content: center;
}


.book-display {
    display: block;
    word-wrap: break-word;
    padding: 0.5em;
    border: 0.05em black solid;
    border-radius: 0.25em;
    background-color: whitesmoke;
}

.book-read {
    border-color: green;
    background-color: #E5FFE5;
}

.book-display-title {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25em;
}

.book-display-pages {
    font-weight: lighter;
    float: right;
}