body {
    font-family: sans-serif;
    display: block;
    position: relative;
    justify-content: center;
    background: skyblue;
}





#main-content {
    background-color: white;
    margin: auto;
    max-width: 52em;
    padding: 1em;
    border-radius: 0.25em;
    justify-content: right;
}


#books-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10em);
    grid-gap: 0.5em;
    justify-content: center;
}


.book-display {
    display: block;
    word-wrap: break-word;
    padding: 0.5em;
    border: 0.05em black solid;
    border-radius: 0.25em;
    background-color: whitesmoke;
}

.book-read {
    border-color: green;
    background-color: #E5FFE5;
}

.book-display-title {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25em;
}

.book-display-pages {
    font-weight: lighter;
    float: right;
}


#new-book-button-container {
    text-align: right;
}

#new-book-button {
    background-color: #76d1ff;
    padding: 0.5em;
    border: none;
    border-radius: 0.25em;
}

#new-book-button:hover {
    background-color: #2689bb;
    color: white;
}

#new-book-button:active {
    background-color: #76d1ff;
    color: black;
}